<div class="listContainer">

<div class="containerButtonList">

    <a href="/">Home Page</a>
    <a href="/drones/create">Drones Create</a>

</div>




  {{#each allDrones}}
    <div class="containerList">
      <div class="ulContainer">
        <h4>{{this.name}}</h4>
        <p>Name: {{this.propellers}}</p>
        <p>Speed: {{this.maxSpeed}}</p>
        <a  href="/drones/{{this._id}}/edit"><button id="updateButton" >Update</button></a>

        <form action="/drones/{{this._id}}/delete" method="post">
          <a href="/drones/{{this._id}}/delete">
            <button id="deleteButton">Delete</button>
          </a>
        </form>

      </div>
    </div>

  {{/each}}

</div>